# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Odoo
*.log
filestore/
sessions/

# Editors
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Local overrides
docker-compose.override.yml
.env
